* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  font-family: Sans-Serif;
  font-size: 14px;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.container-geral {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 60%;
  height: 100vh;
}
.img-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.cel-insta {
  height: 56rem;
}
}
.container-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
  margin: 50px;
}
.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 23rem;
  height: 25rem;
  padding: 1.3rem 0;
  border: 1px solid black;
  border-radius: 2px;
  margin: 40px;
}
.logo-instagram {
  width: 11rem;
}
.img-perfil {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.insta-login {
  border: 1px solid;
  background-color: #0095f6;
  color: #fff;
  padding: 7px ;
  border-radius: 4px;
}
.insta-lougout {
  color: #0095f6;
  margin-top: 1rem;
}
.register {
  border: 1px solid;
  border-radius: 2px;
  width: 23rem;
  text-align: center;
  justify-content: center;
  height: 85px;
  margin: 40px;
  display: flex;
  flex-direction: column;
}
.edit-p {
  color: rgb(160,160,160);
}
.tro-acc, .cadastro {
  color: #0095f6;
}
.download-app {
  margin: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: black;
}
.bottons-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.download-1:nth-child(1) {
  background-image: url('images.jpeg');
}
.download-2:nth-child(2) {
  background-image: url('images.png');
}
.download-1, .download-2 {
  width: 8rem;
  height: 2.9rem;
  margin: 3px;
}